.App {
background-color: #fff;
}


.App-header { 
  float:left; 
  height: 10vh;  
  color: black;
  width:100%;
}


.App-header-items {  
  float:left;
  padding:30px 300px;

}

.App-sidebar {
  float:left;
  width:20%;
  height:90vh;
}

.App-sidebar-items>a {  
  text-align: left;
  padding: 5% 0%;
  font-size: 2em;
  margin: .67em 0;
  display: block;
  cursor:pointer;
}

.centered {
  text-align: center;
  align-content: center;
  justify-content: center;
  display: block;
}

.Form-elements>label{
  font-family: sans-serif;
  font-size: 14pt;  
  display: block;
  padding: 25px;    
}

.App-adblock {
  border: 1px solid black;
  text-align: center;
  height: 10vh;
  display:block;
}

.Logo{
 padding:10px;
}

.Busca{
  padding: 20px;
}

.User-info{
  float:right;
  padding: 30px;
}

