.centro {
    display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  flex-direction: column;
}

.Aaspp-content {
  float: right;
      height: 90vh;
      width: 79%;
      border: 1px solid black;
}

.flex-container-page {
  display: flex;
  width: 100%;
  height: 100vh;
}

.map-container {
  width: 85%;
      border: 1px solid black;
  height: 90vh;
}

.flex-container {
  display: flex;
  flex-direction: row;
  display: -webkit-flex;
  -webkit-justify-content: space-between;
    justify-content: space-between;
}

.flex-light-container {
  display: flex;
  -webkit-justify-content: space-around;
    justify-content: space-around;
}

.flex-normal-container {
  display: flex;
}

.content-foto {
  border : 1px solid black;
  height: 15vh;
  margin: auto;
}

.flex-column-container {
  display: flex;
  flex-direction: row;
  display: -webkit-flex;
  -webkit-justify-content: space-between;
    justify-content: space-between;
    flex-direction: column;
}

.header {
  padding: 10px 20px;
  -webkit-align-items: center;
    align-items: center;
}

.aside {
  flex-direction: column;
  height: 90vh;
  width:15%;
}

.flex-item {
  text-align: center;
  padding: 20px;
  margin: auto;
}

.centered {
  text-align: center;
  align-content: center;
  justify-content: center;
  display: block;
}

.Form-elements>label{
  font-family: sans-serif;
  font-size: 14pt;
  display: block;
  padding: 25px;
}

.App-adblock {
  border: 1px solid black;
  text-align: center;
  height: 10vh;
  width: 99%;
}

.App-close {
  float:right;
  display: block;
  padding:5px;
  cursor:pointer;
}

.Logo{
 padding:10px;
}

.Busca{
  padding: 20px;
}

.User-info{
  float:right;
  padding: 30px;
}

