.App {
background-color: #fff;
}


.App-header { 
  float:left; 
  height: 10vh;  
  color: black;
  width:100%;
}


.App-header-items {  
  float:left;
  padding:30px 300px;

}

.App-sidebar {
  float:left;
  width:20%;
  height:90vh;
}

.centered {
  text-align: center;
  padding : 40px;
}

.Form-elements>label{
  text-align: center;
  display: block;
  padding: 40px;    
}


.App-sidebar-items {  
  text-align: center;
  padding: 5% 20%;
  font-size: 2em;
  margin: .67em 0;
}

.Logo{
 padding:10px;
}

.Busca{
  padding: 20px;
}

.User-info{
  float:right;
  padding: 30px;
}

