.App {
  
}


.App-header {  
  background-color: #ccc;
  height: 10vh;
  padding: 5px;
  color: black;
}

.Logo{
  float:left;
  width:20%;
}

.Busca{
  padding: 20px;
  float:left;
  width:70%;
}

.User-info{
  float:right;
  padding: 30px;
}

